@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}

body {
    background-color: #1A1A1C;
}

.container {
    margin: 0 auto;
    width: 1400px;
}

a {
    text-decoration: none;
    color: #fff;
}

nav {
    background-color: #1A1A1C;
    color: #F64C72;
    display: flex;
    position: fixed;
    width: 1400px;
    justify-content: space-between;
    padding: 20px;
}

.anchors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    font-size: 30px;
}

.logo {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text-big {
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #F64C72;
}

.links:hover {
    border-bottom:3px solid #F64C72;
    transition: 150ms;
    color: #F64C72;
}

header {
    padding-top: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-images {
    border-radius: 50%;
    border-left:15px solid #F64C71;
    border-right: 15px solid #F64C71;
    border-bottom: 10px solid #1A1A1C;
    border-top: 10px solid #1A1A1C;
}

@keyframes typing {
    0% { 
        width: 0;
    }
    33% { 
        width: 100%;
    }
    100% { 
        width: 100%;
    }
}

.header-title {
    font-size: 2rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: .4em solid white;
    width: 0;
    animation: typing 3s steps(18, end) forwards;
}

.header-titles {
    font-size: 5rem;
    overflow: hidden;
    white-space: nowrap;
}

h1 {
    margin: 0px;
    padding: 0px;
    background:none;
}

h2 {
    margin: 0px;
}

h4 {
    margin: 0px;
}

.header-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.header-text {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

hr {
    width: 100%;
    border: 15px solid #1A1A1C;
    background-color: #F64C71;
}

.skills-text {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.first-link {
    background: linear-gradient(to top, #F64C72,#1808aa44);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
}

.firstLinkTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: #fff;
}

.firstLinkListStyle {
    list-style-type:none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    height: 150px;
    width: 1400px;
}

.firstLinkListStyle li {
    margin: 10px;
}

.secondLink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block {
	width: 100px;
    height: 100px;
    background: #F64C72;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_line {
    height: 150px;
    border-left:3px solid #F64C72;
    margin-left: 350px;
}

.second_line {
    height: 80px;
    border-left:3px solid #F64C72;
    margin-left: 250px;
}

.secondLinkListStyle {
    color: white;
    list-style-type: none;
    padding: 0px;
}

.secondLinkListStyle li {
    margin: 0px;
    padding: 0px;
}

.thirdLink {
    border: 3px solid #F64C72;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 50px;
}

.thirdLinkListStyle {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

.thirdLinkListStyle li {
    list-style-type: none;
    color: white;
    border-bottom: 5px solid #F64C72;
    width: 50px;
    font-size: 35px;
    padding:0px;
}

